/* -------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Roboto:wght@400;700&display=swap');

/*Remove default auto margin and auto padding*/
*{
    margin:0;
    padding:0;
}

body{
    background:black;
    font-family: Chilanka;
    letter-spacing: 2px;
}

.text-center{
    text-align: center;
}

.float {
    float:left;
}

/* ------------------------------- Heading */
#heading{
    height: 20vh;
    font-size: 120%;
    width: 100%;
}

h1, p {
    color: #ff5e00;
    padding: 1em;
}

p{
    font-size: 130%;
    color: #f0ede1;
}

/* ---------------------------------- Home */
#main-container{
    height: 100vh;
    width: 100%;
}

#welcome-message-container {
    height: 80vh;
}

#message{
    width: 70%;
    height: 100%;
}

#welcome-text {
    line-height: 2.5em;
}

#background-img-container {
    width: 30%;
    height: 100%;
    background-image:url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.btn {
    width: 30%;
    color:#f0ede1;
    cursor: pointer;
    border-radius: 5px;
    background:#ff5e00;
    border: 3px solid #3b3c3d;
    box-shadow: 0 0 5px 4px;
    font-size: 120%;
    margin: auto;
    margin-top: 2%;
    padding: 5px;
}

.btn:hover{
    background: #3b3c3d;
}

/* --------------------------- Game layout */
/*Learned and adopted some of the code from Coding Ninjas
(https://www.codingninjas.com/blog/2020/11/03/how-to-create-a-quiz-in-javascript/?amp=1) tutorial*/
#quiz-container {
    width: 70vw;
    height: 80vh;
    background: #095170;
    border: 5px solid #ff5e00;
    border-radius: 50px;
    box-shadow: 0 0 5px 4px;
    margin: auto;
    margin-top: 5%;
}

/* header/question */
.header{
    color:#f0ede1;
    text-align: center;
    font-size: 150%;
    padding: 10px;
    height: 10%;
}

.question-area{
    height: 80%;
    margin:auto;
    width: 90%;
}

/* quiz image */
#question-img{
    width: 50%;
    height: 80%;
    margin-top: 5%;
}

#question-img img{
    width: 100%;
    height: 100%;
}

/* answer box */
.answer{
    width: 50%;
    height: 90%;
    margin-top: 1%;
    background:#f0ede1;
    text-align: center;
    border-radius: 30px;
}

/* instruction area */
#instructions {
    height: 10%;
    font-size: 100%;
    padding-top: 5%;
}

/* alternative answers boxes */
.answer-options {
    height: 60%;
}

.option {
    background:#ff5e00;
    border: 3px solid #3b3c3d;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px;
    color:#f0ede1;
    cursor: pointer;
    font-size: 120%;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    width: 60%;
    text-align: center;
}

.option:hover{
    background: #3b3c3d;
}

/*progress div*/

#progress {
    width: 60%;
    height: 10%;
    margin: auto;
}
.progress {
    height: 30px;
    width: 30px;
    background-color: #3b3c3d;
    border-radius: 50%;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

/*modal with instructions*/
.close-modal {
    border: none;
    background: none;
    color: #ff5e00;
    cursor: pointer;
    font-size: 4rem;
    position: absolute;
    top: 0.1rem;
    right: 2rem;
}

.modal-window {
    background-color:  #095170;
    border: 5px solid #ff5e00;
    border-radius: 50px;
    box-shadow: 0 0 5px 4px;
    line-height: 2.5em;
    letter-spacing: 2px;
    left: 50%;
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    z-index: 10;
}

/*Learned how to create an overlay effect with CSS from W3Schools
(https://www.w3schools.com/howto/howto_css_overlay.asp) tutorial*/
.overlay {
    width: 100%;
    height: 100%;
    background-color:rgba(66, 65, 65, 0.6);
    backdrop-filter: blur(3px);
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
}

#modal-header {
    color:#ff5e00;
}

ol {
    list-style: none;
}

li {
    color: #f0ede1;
    padding-left: 10%;
}

/* ----------------------- -Results layout */
#score {
    height: 15%;
    padding-top: 5%;
    font-size: 200%;
    color:#ff5e00;
}

#user-score, #total-questions {
    color: green;
}


/* --------------------------Media Queries */

/*----------- mobile screens */

@media screen and (min-width: 320px) and (max-width: 425px){
    #quiz-container {
        width: 90vw;
        height: 100vh;
    }
    
    /* header/question */
    .header{
        font-size: 110%;
    }
    
    .question-area{
        height: 90%;
    }
    
    /* quiz image */
    #question-img{
        width: 100%;
        height: 40%;
        float: none;
    }
    
    /* answer box */
    .answer{
        width: 100%;
        height: 50%;
        float: none;
    }
    
    /* alternative answers boxes */
    .answer-options {
        height: 50%;
    }
    
    .option {
        font-size: 110%;
    }
    .progress {
        height: 25px;
        width: 25px;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-top: 10%;
    }
}
