/* -------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Roboto:wght@400;700&display=swap');

/*Remove default auto margin and auto padding*/
*{
    margin:0;
    padding:0;
}

body{
    background:black;
    font-family: Chilanka;
    letter-spacing: 2px;
}

.text-center{
    text-align: center;
  }

.float {
    float:left;
}

/* ------------------------------- Heading */
#heading{
    height: 20vh;
    font-size: 120%;
    width: 100%;
  }

h1, p {
    color: #ff5e00;
    padding: 1em;
}

p{
    font-size: 130%;
    color: #f0ede1;
}

/* ---------------------------------- Home */
#main-container{
    height: 100vh;
    width: 100%;
}

#welcome-message-container {
    height: 80vh;
}

#message{
    width: 70%;
    height: 100%;
}

#welcome-text {
    line-height: 2.5em;
}

#background-img-container {
    width: 30%;
    height: 100%;
    background-image:url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

.btn {
    width: 30%;
    color:#f0ede1;
    border-radius: 5px;
    background:#ff5e00;
    border: 3px solid #3b3c3d;
    box-shadow: 0 0 5px 4px;
    font-size: 120%;
    margin: auto;
    margin-top: 2%;
    padding: 5px;
}

/* --------------------------- Game layout */
/*Learned and adopted some of the code from Coding Ninjas
(https://www.codingninjas.com/blog/2020/11/03/how-to-create-a-quiz-in-javascript/?amp=1) tutorial*/
#quiz-container {
    width: 70vw;
    height: 80vh;
    background: #095170;
    border: 5px solid #ff5e00;
    border-radius: 50px;
    box-shadow: 0 0 5px 4px;
    background-color: indigo;
    margin: auto;
    margin-top: 5%;
}

/* header/question */
.header{
    color:#f0ede1;
    text-align: center;
    font-size: 150%;
    padding: 10px;
    height: 10%;
}

.question-area{
    height: 80%;
    margin:auto;
    width: 90%;
    background-color: hotpink;
}

/* quiz image */
#question-img{
    width: 50%;
    height: 80%;
    margin-top: 5%;
}

#question-img img{
    width: 100%;
    height: 100%;
}

/* answer box */
.answer{
    width: 50%;
    height: 90%;
    margin-top: 1%;
    background:#f0ede1;
    text-align: center;
    border-radius: 30px;
    background-color: red;
}

/* instruction area */
#instructions {
    height: 10%;
    font-size: 90%;
    padding-top: 5%;
    background-color: lightcyan;
}

/* alternative answers boxes */
.answer-options {
    height: 50%; /*75%*/
}

.option {
    background:#ff5e00;
    border: 3px solid #3b3c3d;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px;
    color:#f0ede1;
    font-size: 120%;
    margin: auto;
    margin-top: 1%;
    padding: 5px;
    width: 60%;
    text-align: center;
}

.option:hover{
    background: #3b3c3d;
}

/*progress */

#progress {
    width: 60%;
    height: 10%;
    background-color: salmon;
}
.progress {
    height: 25px;
    width: 25px;
    background-color: green;
    margin-left: 1em;
    display: inline-block
}

.close-modal {
    position: absolute;
    top: 0.1rem;
    right: 2rem;
    font-size: 4rem;
    color: #ff5e00;
    cursor: pointer;
    border: none;
    background: none;
  }

  .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color:  #095170;
    padding: 1rem;
    border: 5px solid #ff5e00;
    border-radius: 50px;
    box-shadow: 0 0 5px 4px;
    z-index: 10;
    line-height: 2.5em;
    letter-spacing: 2px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(66, 65, 65, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

#modal-header {
    color:#ff5e00;
}

ol {
    list-style: none;
  }

li {
    color: #f0ede1;
    padding-left: 10%;
}


.btn:hover{
    background: #3b3c3d;
}
